  <!--footer area start-->
  <footer class="footer_widgets">
    <!--shipping area start-->
    <div class="shipping_area shipping_padding">
        <div class="container">
            <div class="shipping_inner">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping1.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4> Giao hàng miễn phí</h4>
                        <p>Đối với tất cả các khách thanh toán bằng thẻ tín dụng</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping2.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4> Giao hàng miễn phí</h4>
                        <p>vào thứ 2 hàng tuần</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping3.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao hàng miễn phí</h4>
                        <p></p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping4.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao hàng miễn phí</h4>
                        <p>Đối với tất cả các khách trên 120$</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping5.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao hàng miễn phí</h4>
                        <p>Đối với tất cả các khách trên 120$</p>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <!--shipping area end-->
    <div class="footer_top top_depult_p">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets_container">
                        <h3>THÔNG TIN LIÊN LẠC</h3>
                        <div class="footer_contact">
                           <div class="footer_contact_inner">
                                <div class="contact_icone">
                                    <img src="assets/img/icon/icon-phone.png" alt="">
                                </div>
                                <div class="contact_text">
                                    <p>Hotline Free 24/24: <br> <strong><a href="tel:+(+84)0337539177">(+84) 033 753 9177</a> </strong></p>
                                </div>
                            </div>
                            <p>Chúng tôi là một cửa hàng chuyên cung cấp các mặt hàng đồng hồ chất lượng cao.</p>
                            <p>Nguyễn Thị Phương- Trường Đại học SPKT Hưng Yên</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                   <div class="footer_col_container">
                        <div class="widgets_container widget_menu">
                            <h3>Thông tin</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Về chúng tôi</a></li>
                                    <li><a href="#">Thông tin giao hàng</a></li>
                                    <li><a href="#">Sản phẩm mới</a></li>
                                    <li><a href="#">Bán tốt nhất</a></li>
                                    <li><a href="#">Tài khoản của tôi</a></li>
                                    <li><a href="#">Lịch sử đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Dịch vụ khách hàng</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Tài khoản của tôi</a></li>
                                    <li><a href="#">Giỏ hàng</a></li>
                                    <li><a href="#">Danh sách</a></li>
                                    <li><a href="#">Giảm giá</a></li>
                                    <li><a href="#">Lịch sử Đặt hàng</a></li>
                                    <li><a href="#"> Đặt hàng quốc tế</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Tài khoản của tôi</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Tài khoản của tôi</a></li>
                                    <li><a href="#">Giỏ hàng</a></li>
                                    <li><a href="#">Danh sách</a></li>
                                    <li><a href="#">Giảm giá</a></li>
                                    <li><a href="#">Lịch sử Đặt hàng</a></li>
                                    <li><a href="#"> Đặt hàng quốc tế</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Bổ sung</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Phiếu quà tặng</a></li>
                                    <li><a href="#">Chi nhánh</a></li>
                                    <li><a href="#">Đặc biệt</a></li>
                                    <li><a href="#">Danh sách</a></li>
                                    <li><a href="#">Bảng tin</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3> Thanh toán & Phương thức</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#"> Phương thức thanh toán</a></li>
                                    <li><a href="#">tài khoản của tôi</a></li>
                                    <li><a href="#">Xem tất cả các ưu đãi</a></li>
                                    <li><a href="#">Địa điểm chúng tôi giao hàng đến</a></li>
                                    <li><a href="#">Câu hỏi thường gặp</a></li>
                                    <li><a href="#">Thời gian giao hàng ước tính</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p> &copy; 2020 <a href="#">Mazlay</a>  All Right Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="footer_payment text-right">
                        <img src="assets/img/icon/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>
<!--footer area end-->