<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Trang chủ</a>
      </li>
      <li class="active">Quản lý loại sản phẩm</li>
    </ul><!-- /.breadcrumb -->
  </div>
  <div class="page-content">
    <div class="row">

      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="form-group">
          <button (click)="createModal()" class="btn btn-sm btn-primary">Thêm danh mục sản phẩm</button>
      </div>
      <br/>

        <p-table selectionMode="single" [value]="product_groups" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 35px; text-align: left;">STT</th>
              <th style="width: 15%; text-align: left;">Mã Nhóm danh mục</th>
              <th style="width: 20%; text-align: left;">Mã Danh Mục</th>
              <th style="width: 20%; text-align: left;">Tên Danh Mục</th>
              <th style="width: 60px; text-align: left;">Tác vụ</th>
            </tr>
          </ng-template>
          
          <ng-template #recursiveTable let-item_group pTemplate="body"  let-i="rowIndex" >
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ item_group.parent_item_group_id || '-' }}</td>
              <td>{{ item_group.item_group_id }}</td>
              <td>{{ item_group.item_group_name }}</td>
              <td class="action-col" >
                <div class="btn-group">
                  <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item_group)">
                    <i class="ace-icon fa fa-edit"></i>
                  </button>
                  <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item_group)">
                    <i class="ace-icon fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            <ng-container  *ngFor="let currentItem of item_group.children  index as indexChild" >
              <tr>
                <td>{{i + 1 +'.' + (indexChild + 1)}}</td>
                <td>{{ currentItem.parent_item_group_id }}</td>
                <td>{{ currentItem.item_group_id }}</td>
                <td>{{ currentItem.item_group_name }}</td>

                <td class="action-col" >
                  <div class="btn-group">
                    <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(currentItem)">
                      <i class="ace-icon fa fa-edit"></i>
                    </button>
                    <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(currentItem)">
                      <i class="ace-icon fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <ng-container *ngIf="currentItem.children">
                <ng-container *ngTemplateOutlet="recursiveTable; context:{ $implicit: currentItem.children }"></ng-container>
              </ng-container>
            </ng-container>
          </ng-template>
        </p-table>
        <!-- PAGE CONTENT ENDS -->
      </div>
      <div class="col-xs-12" style="text-align: right;">
        <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
      <!-- /.col -->
    </div>
  </div><!-- /.page-content -->
  <div *ngIf="showUpdateModal" id="createProductTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg full-height-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin</h4>
          <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin loại</h4>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
          <div class="modal-body no-padding">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">ID Nhóm SP(<span style="color: red;">*</span>)</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="ID sản phẩm" formControlName="parent_item_group_id"/>
                  <div *ngIf="submitted && f.parent_item_group_id.errors" class="invalid-feedback">
                    <div *ngIf="f.parent_item_group_id.errors.required">ID nhóm SP</div>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-sm-6" *ngIf="!isCreate">
                <div class="form-group">
                  <label class="col-sm-4 control-label no-padding-right">ID sản phẩm(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-8">
                    <input type="text" placeholder="ID sản phẩm" formControlName="item_group_id" disabled/>
                    <div *ngIf="submitted && f.item_group_id.errors" class="invalid-feedback">
                      <div *ngIf="f.item_group_id.errors.required">ID Sản Phẩm</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-4 control-label no-padding-right"> Tên Danh Mục(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-8">
                    <input type="text" placeholder="Tên danh muc" formControlName="item_group_name"/>
                    <div *ngIf="submitted && f.item_group_name.errors" class="invalid-feedback">
                      <div *ngIf="f.item_group_name.errors.required">Tên Danh Mục</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
              <i class="fa fa-bell"></i> Làm mới
            </button>
            <button type="submit" class="btn btn-success btn-sm btn-submit">
              <i class="fa fa-save"></i> Đồng ý
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
              <i class="fa fa-times"></i> Đóng lại
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
